# --- POSTGRES CONFIG ---
DOCKER_PG_USER=postgres_user_name
DOCKER_PG_PASSWORD=postgres_password
DOCKER_PG_DB=postgres_db_name

# --- REDIS CONFIG ---
DOCKER_REDIS_PASSWORD=redis_pasword
DOCKER_REDIS_PORT=6379

# --- GRAFANA SECURITY ---
DOCKER_GF_ADMIN_USER=gf_user_name
DOCKER_GF_ADMIN_PASSWORD=gf_password

# --- BACKEND DB CONFIG (Для Go-приложения внутри Docker) ---
# Хост равен имени сервиса СУБД в docker-compose
DB_HOST=postgres 
DB_PORT=5432
DB_USER=user_name
DB_PASSWORD=user_pasword
DB_NAME=db_name
DB_SSL_MODE=disable
DB_MAX_CONNS=10

# --- SECURITY ---
PEPPER=key
JWT_SECRET=secret
JWT_ACCESS_TTL_SECONDS=900
JWT_REFRESH_TTL_HOURS=720

# --- APP ADMIN ---
ADMIN_EMAIL=admin_email
ADMIN_PASSWORD=admin_password
ADMIN_FIRST_NAME=name
ADMIN_LAST_NAME=last_name